In [1]:
import sqlite3 as sq
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
def run_query(query):
    with sq.connect('chinook.db') as conn:
        return pd.read_sql(query,conn)

In [6]:
def run_command(command):
    with sq.connect('chinook.db') as conn:
        conn.isolation_level=none
        conn.execute(command)

In [7]:
def show_tables(query):
    run_query(query)

In [9]:
db_info_query="SELECT name, type FROM sqlite_master WHERE type IN (\"Table\",\"View\")"